*,
::before,
::after {
	box-sizing: border-box;
}

:root {
	--content-max-width: 50rem;

	--color-bg: #fafaf9;
	--color-primary: #171717;
	--color-secondary: #525252;
	--color-tertiary: #d6d3d1;
	--color-accent: #f50;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--color-bg: #1c1917;
		--color-primary: #fafafa;
		--color-secondary: #a3a3a3;
		--color-tertiary: #44403c;
	}
}

html {
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		sans-serif;
	line-height: 1.5;
	color-scheme: light dark;

	color: var(--color-primary);
	background-color: var(--color-bg);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow-y: scroll;
	scrollbar-gutter: stable;

	/* Prevent mobile browsers from adjusting font size */
	text-size-adjust: none;
}

body {
	margin: 0;
	overflow-x: clip;
}

a {
	color: unset;
}

label {
	user-select: none;
	touch-action: manipulation;
}

kbd {
	display: inline-block;
	padding: 4px;
	font-size: 0.75rem;
	line-height: 1;
	font-family: ui-monospace, monospace;
	white-space: nowrap;
	background-color: var(--color-tertiary);
	box-shadow: inset 0 -1px 0 var(--color-secondary);
	border: 1px solid var(--color-secondary);
	border-radius: 5px;
	user-select: all;
}

noscript {
	display: block;
	margin: 25vh auto;
	padding: 24px;
	max-width: 48rem;
}
